{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block content %}
{% spaceless %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
            {% for owner in hwi_oauth_resource_owners() %}
                <a class="btn btn-lg btn-primary btn-block" href="{{ hwi_oauth_login_url(owner) }}">
                    <span class="glyphicon glyphicon-log-in"></span>
                    {{- ' ' }}
                    {{- 'connect with %owner%'|trans({'%owner%': owner|trans({}, 'HWIOAuthBundle')}) -}}
                </a>
            {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock %}