{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block content %}
{% spaceless %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <div class="">
                <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Login with
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for owner in hwi_oauth_resource_owners() %}
                        <li>
                            <a href="{{ hwi_oauth_login_url(owner) }}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                {{- '&#160;' }}
                                {{- '%owner%'|trans({'%owner%': owner|trans({}, 'HWIOAuthBundle')}) -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}