{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="small-8 small-centered columns">
            <ul class="small-block-grid-1">
                {% for owner in hwi_oauth_resource_owners() %}
                    <li>
                        <a class="button round small small-12" href="{{ hwi_oauth_login_url(owner) }}">
                            {{ 'connect with %owner%'|trans({'%owner%': owner|trans({}, 'HWIOAuthBundle')}) }}
                            <br />
                            <small>just testing - not harvesting</small>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}