{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block content %}
    <div class="panel panel-danger text-center">
        <div class="panel-heading">
            <h1 class="panel-title">Oops! An Error Occurred</h1>
        </div>
        <div class="panel-body">
            <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        </div>
        <div class="panel-footer">
            <p>
                Something is broken. Please let us know what you were doing when this error occurred.
                We will fix it as soon as possible. Sorry for any inconvenience caused.
            </p>
        </div>
    </div>


{% endblock %}
