# Bootstrap
app/bootstrap*

# Symfony directories
/app/logs/*
/app/cache/*
/bin/
/vendor/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
composer.lock
web/components
