{% extends 'ToaWelcomeBundle:FuchsLuchs:layout.html.twig' %}

{% block content %}
{% spaceless %}
    {{ parent() }}

    <div class="row people">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <div class="layer" data-depth="2">
                    <a href="{{ path('toa_welcome_fuchsluchs_default') }}">
                        <img class="img-circle img-thumbnail {{ name }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
                    </a>
                    <br /><br />
                    <span class="badge inverse">{{ name|capitalize }}</span>
                    <br /><br />
                </div>
            </div>
    </div>
{% endspaceless %}
{% endblock %}