{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block stylesheets %}
{% spaceless %}
    {{ parent() }}

    {% stylesheets
        'bundles/toawelcome/scss/fuchsluchs.scss'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endspaceless %}
{% endblock %}

{% block content %}
    <div class="panorama" data-toggle="parallax" data-limit-y=".01">
        <div class="layer" data-depth="1.5"></div>
    </div>
{% endblock %}
