@import "compass";

html {
  min-height: 100%;
}

body {
  @include background(linear-gradient(top, #ccc, #333));
}


.bulleyes {
  padding-top: 30%;

  .thumbnail {
    @include background-size(cover);
    @include border-radius(50%);
    @include box-shadow(0 0 0 5px white, 1px 0 5px 5px black, 0px 0 2px black inset !important);

    margin: 0 auto;
    height: 120px;
    width: 120px;

    &.jana { background:transparent url(../images/jana.jpg) no-repeat scroll center center; }
    &.jakob { background:transparent url(../images/jakob.jpg) no-repeat scroll center center; }
    &.anton { background:transparent url(../images/anton.jpg) no-repeat scroll center center; }
    &.enrico { background:transparent url(http://s.gravatar.com/avatar/6cee33b651e13b04cd89c6456958f977?s=240) no-repeat scroll center center; }
  }

  .username {
    margin-top: 10px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .bulleyes {
    .thumbnail {
      height: 120px;
      width: 120px;
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .bulleyes {
    .thumbnail {
      height: 84px;
      width: 84px;
    }
  }
}

@media (max-width: 767px) {
  .bulleyes {
    padding-top: 20px;
  }

}
