@import "compass";

.badge.inverse {
  background-color: #333;
}

.people {
    .badge {
        @include box-shadow(0 0 4px white);
    }
    
    img {
        &.img-thumbnail {
            @include background-size(cover);
            @include box-shadow(0 0 0 3px white, 1px 0 5px 3px black, 0px 0 3px black inset !important);
            width: 75%;
        }
        
        &.jana { background-image: url(../images/jana.jpg); }
        &.jakob { background-image: url(../images/jakob.jpg); }
        &.anton { background-image: url(../images/anton.jpg); }
        &.enrico { 
            background-image: url(http://s.gravatar.com/avatar/6cee33b651e13b04cd89c6456958f977?s=240); 
            @include filter(grayscale(75%) blur(2px));
        }
    }
}

html {
  @include background(linear-gradient(top, #ccc, #333));
  background: -ms-linear-gradient(top, #ccc, #333);
  min-height: 100%;
}

body {
  background-color: transparent;
  padding-top: 15%;
}
