@import "compass";

.badge.inverse {
  background-color: #333;
}

.people {
    .badge {
        @include box-shadow(0 0 4px white);
    }
    
    img {
        &.img-thumbnail {
            @include background-size(cover);
            @include box-shadow(
                0 0 0 3px white, 
                0 1px 5px 3px black, 
                0 1px 3px black inset !important
            );
            border: 0 none;
            width: 75%;
        }
    }
}

body {
  background-color: transparent;
  padding-bottom: 60px;
  padding-top: 60px;
}
