{% extends 'ToaLayoutBundle:bootstrap3:layout.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
{% spaceless %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                {% block content '' %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
{% spaceless %}
    {{ parent() }}

    {% stylesheets
        'bundles/toawelcome/scss/main.scss'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endspaceless %}
{% endblock %}

{% block javascripts %}
{% spaceless %}
    {{ parent() }}

    {% javascripts
        'bundles/toawelcome/components/parallax/deploy/jquery.parallax.js'
        'bundles/toawelcome/js/parallax.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endspaceless %}
{% endblock %}
