{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <ul class="thumbnails bulleyes">
                <li class="span2"><a href="#" class="thumbnail jana"></a><div class="username"><span class="badge badge-inverse">Jana</span></div></li>
                <li class="span2"><a href="#" class="thumbnail jakob"></a><div class="username"><span class="badge badge-inverse">Jakob</span></div></li>
                <li class="span2"><a href="#" class="thumbnail anton"></a><div class="username"><span class="badge badge-inverse">Anton</span></div></li>
                <li class="span2"><a href="#" class="thumbnail enrico"></a><div class="username"><span class="badge badge-inverse">Enrico</span></div></li>
            </ul>
        </div>
    </div>
{% endblock %}