{% extends 'ToaWelcomeBundle::layout.html.twig' %}

{% block body %}
    <div class="row people">
        <div class="small-12 small-centered columns">
            <ul class="small-block-grid-3 large-block-grid-6">
                {% for a in 0..5 %}
                    {% for p in ['Jana', 'Jakob', 'Anton', 'Enrico'] %}
                        <li class="user">
                            <a class="th round small-10">
                                <img class="small-12 {{ p|lower }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
                            </a>
                            <br />
                            <span class="label round inverse username">{{ p }}</span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}